[submodule "smina"]
	path = handlers/smina
	url = git@github.com:quantori/scip-smina.git
[submodule "vina"]
	path = handlers/vina
	url = git@github.com:quantori/scip-vina.git
[submodule "vinaq"]
	path = handlers/qvina
	url = git@github.com:quantori/scip-qvina.git
[submodule "rdock"]
	path = handlers/rdock
	url = git@github.com:quantori/scip-rdock.git
